@charset "utf-8";
/* CSS Document */

* { 
    margin:0;
	padding:0; 
}
.item img{
	width: 100%;
	}

.slider{
	margin-top:60px;
	}
	
	
span.test{
	display:block;
	hight:50px;
	background:#CCC;
	}
.custom{
	padding-top:40px;
	}